  <!-- About -->
{% extends "base.html" %}

{% block title %}
index
{% endblock title %}

{% block content %}
  <div class="container-fluid p-0">
    <section class="resume-section p-lg-5 d-flex align-items-center p-3 text-dark" id="about">
      <div class="w-100">
        <h2 class="mb-0 text-dark" style="">Toti <font color="#bd5d38" class="text-muted">Paliza</font>
        </h2>
        <div class="subheading mb-5" style="">1459 18th Street Unit 189, San Francisco, CA 94107 · (628) 999-8026 · <a href="mailto:name@email.com" class="text-dark">hatchpal@gmail.com</a>
        </div>
        <p class="lead mb-5" contenteditable="true"> 
          Hello, I am Toti. <br><br>Thank you for visiting my personal website. I am UX and Strategic Designer with cross-functional experience spanning industrial and digital product development. I am passionate about&nbsp;solving global and local challenges, identifying emerging trends, and translating user needs into meaningful solutions that create social good, spur innovation, and drive business growth. I help companies research, design, and develop practical solutions that meet business and user needs. <br><br>Whether you are working on a new startup or have an existing product, I'd love to hear about your most challenging design problems you or your team are trying to solve. I’m always interested in hearing about new projects. <br><Br> Let's grab a coffee or chat online. Please feel free to drop me a line and tell me about it. I'd love to listen and see if there's anything I can do to help. <br><br>Thanks and I look forward to connecting with you.
        </p>
        <p style="font-family: Permanent Marker; font-size: 2.5rem; font-style: normal">Toti</p>

      </div>
    </section>
    <hr class="m-0">
    <hr class="m-0">
    <hr class="m-0">
    <hr class="m-0">
    <hr class="m-0">
  </div>

{% endblock content %}