
<!-- Skills -->
{% extends "base.html" %}

{% block title %}
skills
{% endblock title %}

{% block content %}
    </nav>
  <div class="container-fluid p-0">
    <hr class="m-0">
    <hr class="m-0">
    <hr class="m-0">
    <section class="resume-section text-dark p-3 p-lg-5 d-flex align-items-start" id="skills" style="">
      <div class="w-100" style="" >
        <h3 class="mb-5">Skills</h3>
        <div class="subheading mb-3">DESIGN DISCIPLINES</div>
        <ul class="fa-ul mb-0">
          <li contenteditable="true">
            <i class="fa-li fa fa-check-circle"></i> UX/UI, Lean UX, Strategic Design, Interaction Design, Service Design, Design Thinking</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Spatial Design, Interior Architecture, Urban Design Principles</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Mapping/Cartography, Geographical Information System (GIS), ArcGIS</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Industrial Product Design, Food/Ingredient Product Design</li>
        </ul>
        <div class="subheading mb-3 mt-3">UX/UI DESIGN TOOLS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check-circle"></i> SketchApp, Principle, InvisionApp, Figma, Framer</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Photoshop, Illustrator, Lightroom, XD</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i> Lucid Chart, Balsamiq, Usability Hub</li>
        </ul>
        <div class="subheading mb-3 mt-3">UX/UI DESIGN METHODS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check-circle"></i>Branding, Art Direction, Story Boarding, Ideation, Scenario Building</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Competitive Analysis, SWOT Analysis, Business Model Canvas</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>User Personas, Customer Journey, User Flow, Mind Mapping, Mental Models</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Affinity Diagram, Wireframing, Content Strategy</li>
            <li>
            <i class="fa-li fa fa-check-circle"></i>Information Architecture, Diagramming, Prototyping, User Interface</li>          
        </ul>
        <div class="subheading mb-3 mt-3">QUALITATIVE UX RESEARCH METHODS</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check-circle"></i>Research Planning, Requirements Gathering, Recruitment</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Usability Test, User Interviews, User Surveys, Contextual Inquiry, Diary Studies, Ethnographic Studies</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Focus Groups, Card Sorting, A/B Testing, Heuristic Evaluations, Heatmaps, Eyetracking</li>
        </ul>
        <div class="subheading mb-3 mt-3">QUANTITATIVE UX RESEARCH METHODS</div>
        <ul class="fa-ul mb-0">
          <li contenteditable="true">
            <i class="fa-li fa fa-check-circle"></i>T-Test, F-Test, ANOVA, Confidence Intervals, Surveys, A/B testing, Net Promoter Score (NPS)</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>U.S.E. Method (Usefulness, Satisfaction, Ease-of-Learning, Ease-of-Use, S.U.S. Method (System Usability Scale)</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Statistical Modeling, Descriptive Statistics, Inferential Statistics, Data Tracking</li>
            <li>
            <i class="fa-li fa fa-check-circle"></i>Site Analytics, Hedonic Quality/AttrakDiff, Expectation Metrics, Emotional Metrics, Post-Task Metrics</li>
        </ul>
        <div class="subheading mb-3 mt-3">TESTING METHODS</div>
        <ul class="fa-ul mb-0">
          <li contenteditable="true">
            <i class="fa-li fa fa-check-circle"></i>Functionality Testing, Usability Testing, Error and Exception Testing, Security Testing</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Cross Browser Testing &amp;&nbsp; Compatibility Platform Testing</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Performance Testing</li>
        </ul>
        <div class="subheading mb-3 mt-3">WORKFLOW </div>
        <ul class="fa-ul mb-0">
          <li contenteditable="true">
            <i class="fa-li fa fa-check-circle"></i>Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Cross-Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check-circle"></i>Scrum and Agile Development, Lean UX&nbsp;</li>
        </ul>
      </div>
    </section>
    <hr class="m-0">
    <hr class="m-0">
    <section class="resume-section text-dark p-3 p-lg-5 d-flex align-items-start" id="interests" style="">
      <div class="w-100">
        <h3 class="mb-5">Interests</h3>
        <p>Apart from loving product design and development, I enjoy outdoor activities (camping, hiking, scuba diving, road trips), slow food, cafes, arts and design, museums and galleries.  I like biography books, podcasts, and online reading (news, current events, blogs, tech, food articles, social and political commentaries, etc.). <br><br> I love movies with great plots (spy movies, sci-fi, biographical). I also have a fascination for low budget and well-crafted independent films. Whenever I have the time, I like to explore and discover new places, awesome ethnic restaurants, experience other cultures and - and at the same time – relish a simple home-cooked meal or a nice, friendly conversation over a cup of coffee.
        </p>
      </div>
  </div>


<!-- Contact -->

  <div class="container-fluid p-0">
    <hr class="m-0">
    <hr class="m-0">
    <hr class="m-0">
    </section>
    <hr class="m-0">
    <hr class="m-0">
    <section class="resume-section text-dark p-3 p-lg-5 d-flex align-items-start" id="contact" style="">
      <div class="w-100">
        <h3 class="mb-5">Let's collaborate!</h3>
        <ul class="fa-ul mb-0">
            <p> Whether you are working on a new startup or have an existing product, I'd love to hear about your most challenging design problems you or your team are trying to solve. I’m always interested in hearing about new projects and opportunities. Please feel free to drop me a line and tell me about it. I'd love to listen and see if there's anything I can do to help. <br><br>Thanks and I look forward to connecting with you.<br></br></p>

            <p style="font-family: Permanent Marker; font-size: 2.5rem; font-style: normal">Toti</p>
            <p>
              (628) 999-8026</br>hatchpal@gmail.com
            </p>
        </ul>
      </div>
    </section>
  </div>
{% endblock content %}
